<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio - Argentina Programa #YoProgramo</h2>
            <p>
                Desarrollo de una aplicación web full stack, que muestra: datos personales, estudios cursados, experiencia laboral, conocimiento de las tecnologías, entre otros.
                Esta aplicación es de arquitectura distribuida y contiene un diseño de interfaz de usuario (FrontEnd), una base de datos y las APIs necesarias para proveer a través de internet la información (BackEnd).
                Tecnologías Utilizadas: HTML, CSS, JavaScript - Angular - Java + Spring Boot (API Rest) - MySQL.
            </p>
        </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img id="part1" src="../../../assets/ProyectoAP.png" class="img-fluid img-proyecto">
    </div>

</div>

