<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, iure adipisci ea, saepe et molestiae eos itaque optio enim nesciunt eius incidunt, animi facilis vel natus nam quibusdam quasi sunt.
            </p>
        </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/ejemplo.png" class="img-fluid img-proyecto">
    </div>

</div>

