<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2>
                <h4>periodo</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo doloremque asperiores ratione non adipisci explicabo, quod amet perferendis. Necessitatibus odio atque repellat? Neque architecto, enim quasi molestias exercitationem ipsum.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2>
                <h4>periodo</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo doloremque asperiores ratione non adipisci explicabo, quod amet perferendis. Necessitatibus odio atque repellat? Neque architecto, enim quasi molestias exercitationem ipsum.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2>
                <h4>periodo</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo doloremque asperiores ratione non adipisci explicabo, quod amet perferendis. Necessitatibus odio atque repellat? Neque architecto, enim quasi molestias exercitationem ipsum.
            </p>
        </ul>

    </div>
</div>
