<div class="row">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="social-media">
    <a href="./" class="social-media-icon">
        <i class='bx bxl-facebook bx-md'></i>
    </a>
    <a href="./" class="social-media-icon">
        <i class='bx bxl-instagram bx-md'></i>
    </a>
    <a href="./" class="social-media-icon">
        <i class='bx bxl-twitter bx-md'></i>
    </a>
    <a href="./" class="social-media-icon">
        <i class='bx bxl-github bx-md'></i>
    </a>
    <img src="../../../assets/APLogo2.png" alt="" class="logo">
</div>
</div>


