<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80" 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'rgb(205, 239, 228)'"
    [innerStrokeColor]="'rgb(220, 158, 191)'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
    </div>
    

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80" 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'rgb(205, 239, 228)'"
    [innerStrokeColor]="'rgb(220, 158, 191)'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80" 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'rgb(205, 239, 228)'"
    [innerStrokeColor]="'rgb(220, 158, 191)'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [imageSrc]="'../assets/comunicacion.png'"
    [showImage]="true"
    [imageHeight]="130"
    [imageWidth]="130" 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'rgb(205, 239, 228)'"
    [innerStrokeColor]="'rgb(220, 158, 191)'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
        <div>
        <h6>Comunicación y Escucha activa</h6>
        </div>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/Team.png'"
    [showImage]="true"
    [imageHeight]="150"
    [imageWidth]="150" 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'rgb(205, 239, 228)'"
    [innerStrokeColor]="'rgb(220, 158, 191)'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
    <div>
        <h6>Trabajo en equipo</h6>
    </div>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/timeline.png'"
    [showImage]="true"
    [imageHeight]="150"
    [imageWidth]="150" 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'rgb(205, 239, 228)'"
    [innerStrokeColor]="'rgb(220, 158, 191)'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
    <div>
    <h6>Planificación y Gestión de tiempo</h6>
    </div>
         
    </div>

</div>
