<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url(../../../assets/banner4.jpg);
          height: 400px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Registrate</h2>

            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="form-outline mb-4">
                  <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
                    <label class="form-label" for="nombreUsuario">Usuario</label>
                  </div>
  

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required />
                <label class="form-label" for="password">Contraseña</label>
              </div>
 
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Ingresar
              </button>
             </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->