<div class="row">
    <div>
        <br>
        <button type="button" class="btn btn-light" routerLink="/editacercade/2" *ngIf="IsLogged">
            <i class="bi bi-pen-fill"></i> Editar perfil
        </button>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src={{persona.img}}
       class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p id="descripcion">{{persona.descripcion}}</p>
        </span>
    </div>

</div>
