<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/fotoPerfil.jpg"
       class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <p id="nombre">Mieras</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste corrupti repudiandae facilis recusandae doloribus quod beatae repellat dolores ipsum veniam cumque cum, dolor amet exercitationem, nisi esse consectetur. Totam, itaque?

            </p>
        </span>
    </div>

</div>
